@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./const.scss";
@import "./cards.scss";


body, html {
  margin: 0;
  font-family: 'Carlito', sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
}

h1 {
  margin: 0 16px;
  padding-top: 12px;
  text-shadow: 2px 2px var(--background-color);
  font-size: 2em;
}

a {
  color: var(--main-color);
  transition: all .2s;
}

a:active {
  color: var(--coffee-color);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
