@import "./const.scss";


body, html {
  margin: 0;
  font-family: Tahoma, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
}

h1 {
  margin: 0 16px;
  padding-top: 12px;
  text-shadow: 2px 2px var(--background-color);
  font-size: 2em;
}

h3 {
  margin: 0 0px;
  padding: 8px 8px;
  padding-left: 24px;
  text-shadow: 2px 2px var(--background-color);
  font-size: 1.5em;
}

h3::before {
  content: '•';
  margin-right: 12px;
}

a {
  color: var(--main-color);
  transition: all .2s;
  text-decoration: none;
}

a:active {
  color: var(--coffee-color);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.pointer {
  cursor: pointer;
}
